@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
.special-color{
  color: rgb(231 39 45);
}
.order-btn{
border: 2px solid white;
background-color: rgba(0, 0, 0, 0);
color:white;
border-radius: 2px;
}
.order-btn:hover{
background-color: rgb(231 39 45);
border: 0px;
}
header {
  background-image:url("image/banner-bg.jpg");

  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list-style a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-list-style a:hover {
color: rgb(231 39 45);
}
.foodAbout{
  background-image:url("image/3.jfif");

  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

